@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

button {
  @apply  rounded-xl px-3 py-1  disabled:opacity-30 disabled:pointer-events-none
}


button.primary {
  @apply bg-sky-400 hover:bg-sky-700
}

button.accent {
  @apply bg-pink-400 hover:bg-pink-700
}

input {
  @apply border border-white border-2
}

input.error {
  @apply border-red-400
}

input.success {
  @apply border-green-400
}
